/* Barcode Search form styling */
input {
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Product details */
  h3 {
    color: #444;
  }
  
  img {
    margin-top: 20px;
  }
  