.navbar {
  background-color: #1f2b36;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}
.navbar .logo{
    font-size: 24px;
      font-weight: bold;
      color: white;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.notification-icon {
  margin-right: 10px;
}

.user-dropdown {
  position: relative;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.user-info:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.username {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.status-online {
  font-size: 12px;
  color: #4caf50;
  font-weight: bold;
}

.caret-icon {
  color: white;
  font-size: 14px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #444;
  border-radius: 5px;
  padding: 7px;
  width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-role {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 5px;
  margin-top: 5px;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logout-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.logout-icon {
  color: #ff4d4d;
  
}
/* ปรับข้อความให้อยู่กลางไอคอน */
.nav-right li {
padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, padding 0.3s ease;
}
.nav-right li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
  border-radius: 2px;
}
.nav-right li .icon {
  margin-right: 15px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
}

/* Responsive: ปรับให้เล็กลงในมือถือ */
@media (max-width: 768px) {
  .nav-right {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-right span {
    font-size: 12px;
  }
}