.add-product-container {
    
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 100px;
    margin-top: 70px;
    background-color: #fff;
    margin-left: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #6c5ce7;
    margin-bottom: 20px;
}

.add-product-form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-column {
    width: 45%;
}

.form-label {
    font-size: 16px;
    color: #444;
    margin-top: 20px;
    margin-bottom: 8px;
    display: block;
}

.form-input,
.form-file-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-product-form input:focus {
    border-color: #6c5ce7;
    outline: none;
}

.add-product-form input[type="file"] {
    border: none;
}

.add-product-form button {
    background-color: #6c5ce7;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 20px;
    /* ให้มีระยะห่างจากส่วนอื่น */
}

.add-product-form button:hover {
    background-color: #4834d4;
}

.product-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

.product-icon {
    font-size: 50px;
    color: #4CAF50;
    animation: bounceIn 0.5s ease-in-out;
}
.product-popup-content{
    background-color: white;
    padding: 20px;
    margin-bottom: 250px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product-popup-title {
    font-size: 1.5em;
    margin-bottom: 15px;
}
.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}
.image-preview{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 5px;
}