html,
body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  /* ให้ scroll ได้ตามปกติ */
}

.app-container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
  transition: margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .display-product {
  margin-left: 80px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .display-product {
  margin-right: 200px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .display {
  margin-left: 150px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .display {
  margin-left: 0px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

/* ปกติ cart จะซ่อน */

.app-container.sidebar-closed .search-grid {
  margin-left: -200px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
  z-index: 1000;
}

.app-container.sidebar-open .search-grid {
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .navbar .iconName {
  font-size: 24px;
  font-weight: bold;
  color: white;
  right: 20px;
}


.product-list-wrapper {
  transition: margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .search-wrapper {
  margin-right: 350px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .product-content-area {
  margin-left: 65px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

/* เมื่อ sidebar ปิด */
.app-container.sidebar-closed .product-container {
  margin-left: 80px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .stock-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .stock-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .stock-transaction-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .stock-transaction-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

/* เมื่อ sidebar เปิดอยู่ ให้ cart มีขนาด 0px */
.app-container.sidebar-open .employee-dashboard {
  margin-left: 150px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;

}

.app-container.sidebar-open .employee-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .employee-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .expired-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .expired-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .barcode-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .barcode-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .supplier-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .po-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .po-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .receipt-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .payment-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .payment-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .report-sale-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .report-sale-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .receipt-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .supplier-container {
  margin-left: 50px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.employee-dashboard {
  transition: margin-left 0.3s ease-in-out;
}

/* เมื่อ sidebar ปิด */
.app-container.sidebar-closed .employee-dashboard {
  margin-left: 10px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;

}

.main-content {
  flex-grow: 1;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;

}