html,
body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  /* ให้ scroll ได้ตามปกติ */
}

.app-container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
  transition: margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open .main-content {
  margin-left: 150px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.app-container.sidebar-closed .main-content {
  margin-left: 10px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

/* ปกติ cart จะซ่อน */

.app-container.sidebar-closed .search-grid {
  margin-left: -200px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
  z-index: 1000;
}

.app-container.sidebar-open .search-grid {
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

/* เมื่อ sidebar ปิดอยู่ ให้ cart มีขนาด 400px */
.app-container.sidebar-closed .cart.show-cart {
  width: 450px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

/* เมื่อ sidebar เปิดอยู่ ให้ cart มีขนาด 0px */
.app-container.sidebar-open .cart.show-cart {
  width: 350px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.product-list-wrapper {
  transition: margin-left 0.3s ease-in-out;
}

/* เมื่อ sidebar ปิด */
.app-container.sidebar-closed .product-list-wrapper {
  margin-left: -500px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

/* เมื่อ sidebar เปิดอยู่ ให้ cart มีขนาด 0px */
.app-container.sidebar-open .employee-dashboard {
  margin-left: 150px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;

}

.employee-dashboard {
  transition: margin-left 0.3s ease-in-out;
}

/* เมื่อ sidebar ปิด */
.app-container.sidebar-closed .employee-dashboard {
  margin-left: 10px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;

}

.main-content {
  flex-grow: 1;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;

}