.app-container {
  display: flex;
  transition: margin-left 0.3s ease-in-out;
  background-color: #ffffff;
  /* ทำให้การเลื่อนราบรื่น */
}

.app-container.sidebar-open .main-content {
  margin-left: 240px;
  transition: margin-left 0.5s ease-in-out;
  /* เลื่อนเมื่อเปิด sidebar */
}

.app-container.sidebar-closed .main-content {
  margin-left: 10px;
  margin-top: 10px;
  /* เมื่อลบ sidebar ออก เลื่อนกลับไปที่ 0 */
  transition: margin-left 0.5s ease-in-out;
  /* เลื่อนกลับเมื่อปิด sidebar */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}