/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Close Button */
.close-button {
  background: none;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}
.google-login-container{
  margin-top: 20px;
}

/* Title */
.logintitle {
  font-size: 2rem;
  color: #7c9590;
  margin-bottom: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Input */
.input {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input:focus {
  border-color: #2e7d32;
  outline: none;
}

/* Checkbox Container */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.label {
  font-size: 1rem;
  color: #333;
}

/* Button */
.button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Error Message */
/* .error {
  color: red;
  font-size: 14px;
  background-color: #ffebee;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #f44336;
  text-align: center;
} */

/* Success Message */
.success {
  color: green;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  margin-left: 5px;
}
